# Gradle
.gradle
build
!gradle/wrapper/gradle-wrapper.jar

# IntelliJ IDEA
.idea
*.iml
*.iws
*.ipr
out

# VS Code
.vscode

# macOS
.DS_Store

# Git
.git
.gitignore

# Logs
logs
*.log

# Documentation
docs
imgs
*.md

# Docker
Dockerfile
docker-compose.yml
.dockerignore
