spring:
  application:
    name: hoops

  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect

server:
  port: 8080

management:
  endpoints:
    web:
      exposure:
        include: health,prometheus,metrics
  metrics:
    tags:
      application: hoops
    distribution:
      percentiles-histogram:
        http.server.requests: true

jwt:
  access-token-expiry: ${JWT_ACCESS_EXPIRY:1800000}
  refresh-token-expiry: ${JWT_REFRESH_EXPIRY:1209600000}
  temp-token-expiry: ${JWT_TEMP_EXPIRY:600000}
